.e46_15 { 
	overflow:hidden;
}
.e46_15 { 
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e46_16 { 
	width:210px;
	height:210px;
	position:absolute;
	left:654px;
	top:127px;
}
.e46_18 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:146px;
	position:absolute;
	left:905px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e46_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:565px;
	top:455px;
}
.e46_19 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_20 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:565px;
	top:455px;
}
.e46_20 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_21 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:563px;
	top:402px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:565px;
	top:575px;
}
.e46_22 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_23 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:36px;
	position:absolute;
	left:563px;
	top:513px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:567px;
	top:686px;
}
.e46_33 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:567px;
	top:686px;
}
.e46_34 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_35 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:36px;
	position:absolute;
	left:565px;
	top:633px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_24 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:48px;
	position:absolute;
	left:614px;
	top:801px;
}
.e46_24 { 
	border:10px solid rgba(255, 255, 255, 1);
}
.e46_25 { 
	color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:161px;
	height:36px;
	position:absolute;
	left:783px;
	top:807px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_26 { 
	color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:192px;
	height:22px;
	position:absolute;
	left:755px;
	top:893px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
