.e83_13 { 
	overflow:hidden;
}
.e83_13 { 
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e83_15 { 
	width:77px;
	height:77px;
	position:absolute;
	left:47px;
	top:27px;
}
.e83_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1013px;
	position:absolute;
	left:0px;
	top:127px;
}
.e83_18 { 
	width:100px;
	height:100px;
	position:absolute;
	left:1586px;
	top:17px;
}
.e83_19 { 
	width:91.66666412353516px;
	height:91.66666412353516px;
	position:absolute;
	left:4.166666507720947px;
	top:4.166666507720947px;
}
.e83_20 { 

	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:29.16666603088379px;
	top:16.66666603088379px;
}
.e83_21 { 

	width:91.66666412353516px;
	height:91.66666412353516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e83_22 { 
	color:rgba(133.00000727176666, 182.00000435113907, 255, 1);
	width:222px;
	height:54px;
	position:absolute;
	left:1344px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e83_64 { 
	color:rgba(133.00000727176666, 182.00000435113907, 255, 1);
	width:115px;
	height:42px;
	position:absolute;
	left:537px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e83_24 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:42px;
	position:absolute;
	left:746px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e83_66 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:42px;
	position:absolute;
	left:746px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e83_65 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:42px;
	position:absolute;
	left:305px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e83_25 { 
	color:rgba(255, 255, 255, 1);
	width:197px;
	height:42px;
	position:absolute;
	left:966px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e83_67 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:229px;
	top:200px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_68 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:229px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:72px;
	top:199px;
}
.e83_69 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_72 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:511.9228515625px;
	top:201.3651123046875px;
}
.e83_73 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:512.9228515625px;
	top:217.3651123046875px;
}
.e83_74 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:539.9228515625px;
	top:217.3651123046875px;
}
.e83_75 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:526.9228515625px;
	top:217.3651123046875px;
}
.e83_76 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:229px;
	top:444px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_77 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:229px;
	top:506px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:72px;
	top:443px;
}
.e83_78 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_85 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:72px;
	top:443px;
}
.e83_85 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_81 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:511.9228515625px;
	top:445.3651123046875px;
}
.e83_82 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:512.9228515625px;
	top:461.3651123046875px;
}
.e83_83 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:539.9228515625px;
	top:461.3651123046875px;
}
.e83_84 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:526.9228515625px;
	top:461.3651123046875px;
}
.e83_86 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:229px;
	top:688px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_87 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:229px;
	top:750px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:72px;
	top:687px;
}
.e83_88 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:72px;
	top:687px;
}
.e83_89 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_92 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:511.9228515625px;
	top:689.3651123046875px;
}
.e83_93 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:512.9228515625px;
	top:705.3651123046875px;
}
.e83_94 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:539.9228515625px;
	top:705.3651123046875px;
}
.e83_95 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:526.9228515625px;
	top:705.3651123046875px;
}
.e83_96 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:837px;
	top:200px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_97 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:837px;
	top:262px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_98 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:680px;
	top:199px;
}
.e83_98 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_101 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:1119.9228515625px;
	top:201.3651123046875px;
}
.e83_102 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1120.9228515625px;
	top:217.3651123046875px;
}
.e83_103 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1147.9228515625px;
	top:217.3651123046875px;
}
.e83_104 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1134.9228515625px;
	top:217.3651123046875px;
}
.e83_105 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:837px;
	top:444px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_106 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:837px;
	top:506px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:680px;
	top:443px;
}
.e83_107 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_108 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:680px;
	top:443px;
}
.e83_108 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_111 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:1119.9228515625px;
	top:445.3651123046875px;
}
.e83_112 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1120.9228515625px;
	top:461.3651123046875px;
}
.e83_113 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1147.9228515625px;
	top:461.3651123046875px;
}
.e83_114 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1134.9228515625px;
	top:461.3651123046875px;
}
.e83_115 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:62px;
	position:absolute;
	left:837px;
	top:688px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e83_116 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
	width:366px;
	height:79px;
	position:absolute;
	left:837px;
	top:750px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e83_117 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:680px;
	top:687px;
}
.e83_117 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_118 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:144px;
	position:absolute;
	left:680px;
	top:687px;
}
.e83_118 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e83_121 { 
	border-radius:500px;
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:1119.9228515625px;
	top:689.3651123046875px;
}
.e83_122 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1120.9228515625px;
	top:705.3651123046875px;
}
.e83_123 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1147.9228515625px;
	top:705.3651123046875px;
}
.e83_124 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:1134.9228515625px;
	top:705.3651123046875px;
}
.e83_125 { 
	transform: rotate(90deg);
	width:185px;
	height:0px;
	position:absolute;
	left:1502px;
	top:423px;
}
.e83_125 { 

}
.e83_126 { 
	transform: rotate(-1.3957563094317917e-14deg);
	width:185px;
	height:0px;
	position:absolute;
	left:1421px;
	top:518px;
}
.e83_126 { 

}
.e83_129 { 

	width:120px;
	height:120px;
	position:absolute;
	left:86px;
	top:211px;
}
.e83_130 { 
	width:120px;
	height:120px;
	position:absolute;
	left:85px;
	top:450px;
}
.e83_131 { 

	width:100px;
	height:95.11906433105469px;
	position:absolute;
	left:10px;
	top:14.88093376159668px;
}
.e83_134 { 
	width:120px;
	height:120px;
	position:absolute;
	left:85px;
	top:699px;
}
.e83_135 { 
	width:100.0191421508789px;
	height:100.04692840576172px;
	position:absolute;
	left:9.978353500366211px;
	top:9.974716186523438px;
}
.e83_136 { 
	width:120px;
	height:120px;
	position:absolute;
	left:693px;
	top:211px;
}
.e83_137 { 
	width:100px;
	height:100px;
	position:absolute;
	left:10px;
	top:9.999999046325684px;
}
.e83_138 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:120px;
	height:120px;
	position:absolute;
	left:693px;
	top:456px;
}
.e83_139 { 
	width:91.81261444091797px;
	height:94.30755615234375px;
	position:absolute;
	left:13.194526672363281px;
	top:15px;
}
.e83_140 { 

}
.e83_140 { 
	width:91.81261444091797px;
	height:94.30469512939453px;
	position:absolute;
	left:-5.9604644775390625e-8px;
	top:0.002862215042114258px;
}
.e83_141 { 

}
.e83_141 { 
	width:90px;
	height:92.125px;
	position:absolute;
	left:1.8054733276367188px;
	top:0px;
}
.e83_142 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:120px;
	height:120px;
	position:absolute;
	left:692px;
	top:699px;
}
.e83_143 { 

}
.e83_143 { 
	width:95px;
	height:90px;
	position:absolute;
	left:15px;
	top:15px;
}
