.e43_3 { 
	overflow:hidden;
}

.e43_3 { 
	background-color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e46_2 { 
	width:210px;
	height:210px;
	position:absolute;
	left:654px;
	top:127px;
}
.e46_3 { 
	width:174.48439025878906px;
	height:174.629638671875px;
	position:absolute;
	left:17.28125px;
	top:17.870365142822266px;
}
.e46_4 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:146px;
	position:absolute;
	left:905px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e46_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:564px;
	top:526px;
}
.e46_5 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:564px;
	top:526px;
}
.e46_14 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_10 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:562px;
	top:473px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(192.31249898672104, 224.96224701404572, 255, 1);
	width:600px;
	height:32px;
	position:absolute;
	left:564px;
	top:645px;
}
.e46_11 { 
	border:10px solid rgba(192.31249898672104, 224.96224701404572, 255, 1);
}
.e46_12 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:36px;
	position:absolute;
	left:562px;
	top:584px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:48px;
	position:absolute;
	left:614px;
	top:777px;
}
.e46_7 { 
	border:10px solid rgba(255, 255, 255, 1);
}
.e46_13 { 
	color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:185px;
	height:36px;
	position:absolute;
	left:754px;
	top:783px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_8 { 
	color:rgba(131.00000739097595, 133.00000727176666, 183.00000429153442, 1);
	width:192px;
	height:22px;
	position:absolute;
	left:755px;
	top:893px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e46_9 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:22px;
	position:absolute;
	left:765px;
	top:848px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
